{% extends 'base_site.html' %}

{% block maincontent %}
    <h1>My Todo List</h1>
    {% comment %} {% for task in tasks %}
        <p>{{task.name}}</p>
        <p>{{task.description}}</p>
        <p>{{task.priority}}</p>
        <p>..........................</p>
    {% endfor %} {% endcomment %}

    <b><table class ="table table-stripped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description </th>
                <th>Priority</th>
                <th>Action</th>
            </tr>
        </thead>
        
        <tbody>
            {% for task in tasks %}

                {% if task.priority == 'highest' or task.priority == 'high' %}
                    <tr class="p-3 mb-2 bg-danger text-white">
                        <td>{{task.id}}</td>
                        <td>{{task.name}}</td>
                        <td>{{task.description}}</td>
                        <td>{{task.priority}}</td>
                        <td>
                            <a href="{% url 'todofeature:todo_edit' task.id %}">
                                <input 
                                type="submit" 
                                class="btn btn-primary" 
                                data-toggle="button" 
                                aria-pressed="false" 
                                autocomplete="off" 
                                value="Edit" 
                                name="edit"/>
                            </a>
                            <button href=""
                            type="button"
                            class="btn btn-primary"
                            data-taskid="{{task.id}}"
                            data-bs-toggle="modal"
                            data-bs-target="#myModal"
                            >
                                Delete
                            </button>
                        </td>
                    </tr>
                {% endif %}

                {% if task.priority == 'medium' %}
                    <tr class="p-3 mb-2 bg-warning text-white">
                        <td>{{task.id}}</td>
                        <td>{{task.name}}</td>
                        <td>{{task.description}}</td>
                        <td>{{task.priority}}</td>
                        <td>
                            <a href="{% url 'todofeature:todo_edit' task.id %}">
                                <input 
                                type="submit" 
                                class="btn btn-primary" 
                                data-toggle="button" 
                                aria-pressed="false" 
                                autocomplete="off" 
                                value="Edit" 
                                name="edit"/>
                            </a>
                            <button href=""
                            type="button"
                            class="btn btn-primary"
                            data-taskid="{{task.id}}"
                            data-bs-toggle="modal"
                            data-bs-target="#myModal"
                            >
                                Delete
                            </button>
                        </td>
                    
                    </tr>
                {% endif %}

                {% if task.priority == 'lowest' or task.priority == 'low' %}
                    <tr class="p-3 mb-2 bg-success text-white">
                        <td>{{task.id}}</td>
                        <td>{{task.name}}</td>
                        <td>{{task.description}}</td>
                        <td>{{task.priority}}</td>
                        <td>
                            <a href="{% url 'todofeature:todo_edit' task.id %}">
                                <input 
                                type="submit" 
                                class="btn btn-primary" 
                                data-toggle="button" 
                                aria-pressed="false" 
                                autocomplete="off" 
                                value="Edit" 
                                name="edit"/>
                            </a>
                            <button href=""
                            type="button"
                            class="btn btn-primary"
                            data-taskid="{{task.id}}"
                            data-bs-toggle="modal"
                            data-bs-target="#myModal"
                            >
                                Delete
                            </button>
                        </td>
                        
                    </tr>
                {% endif %}

                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        Are you sure you want to delete???
                        </div>
                        <form id="delete-form" action="{% url 'todofeature:todo_delete' %}"  method="post">
                            {% csrf_token %}
                            <input type="hidden" name="taskid" id="_taskid">
                        </form>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" id="delete-button" class="btn btn-primary">Yes</button>
                        </div>
                    </div>
                    </div>
                </div>

            {% endfor %}
        </tbody>

        
    </table><b>
{% endblock maincontent %}

{% block script %}

{{block.super}}
<script type="text/javascript">
    $(document).ready(function(){
        $.ajax({
            url: '/demo-for-ajax/',
            type: 'GET',
            dataType: 'json',
            success:function(res){
                console.log(res);
            },
            error:function(res){
                console.log(res);
            }
        });

        let model = document.getElementById("myModal");
        model.addEventListener("show.bs.modal",function(evt){
            let btn = evt.relatedTarget;
            let taskid = btn.dataset.taskid;
            $("#_taskid").val(taskid);
        });
        $('#delete-button').click(function(){
            $("#delete-form").submit();
        });
    });
</script>
{% endblock script %}
