{% comment %} <ul>
    <li>
        <a href="{% url 'todofeature:todo_list' %}">List Todo</a>
    </li>

    <li>
        <a href="{% url 'todofeature:todo_add' %}">Add Todo</a>
    </li>
</ul> {% endcomment %}

 <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <b><a class="nav-link" href="{% url 'todofeature:todo_list' %}">List Todo</a></b>
        </li>
        <li class="nav-item">
          <b><a class="nav-link" href="{% url 'todofeature:todo_add' %}">Add Todo</a></b>
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <b><a class="nav-link" href="{% url 'user:logout' %}">Log Out</a></b>
        </li>
        {% endif %}

        {% if not request.user.is_authenticated %}
        <li class="nav-item">
          <b><a class="nav-link" href="{% url 'user:login' %}">Log In</a></b>
        </li>
        <li class="nav-item">
          <b><a class="nav-link" href="{% url 'user:register' %}">Register</a></b>
        </li>
        {% endif %}

      </ul>
    </div>
  </nav>